div#blue {
	background-color: #0000ff;
	margin: 10px; /* 行の高さを指定する */
}

div#red {
	background-color: #ff0000;
	margin: 10px; /* 行の高さを指定する */
}

div#yellow {
	background-color: #ffff00;
	margin: 10px; /* 行の高さを指定する */;
}

div#brown {
	background-color: #a52a2a;
	margin: 10px; /* 行の高さを指定する */
}

div#pink {
	background-color: #ffc0cb;
	margin: 10px; /* 行の高さを指定する */
}

div#green {
	background-color: #008000;
	margin: 10px; /* 行の高さを指定する */
}

div#perple {
	background-color: #800080;
	margin: 10px; /* 行の高さを指定する */
}